<h1 class="text-center fs-1 mt-3">Rick and Morty's Characters</h1>
<section class="container">
  @for (personaje of personajeList; track $index) {
      <div (click)="navigate(personaje.id)" class="card m-5 w-50 text-decoration-none d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-md-4">
            <img src="{{personaje.image}}" class="card-img-top w-100 img-fluid" alt="{{personaje.name}}">
          </div>
          <div class="card-body col-md-8">
            <h5 class="card-title"><span class="fw-bold fs-5">Name: </span>{{personaje.name}}</h5>
            <p class="card-text"><span class="fw-bold fs-5">Species: </span>{{personaje.species}}</p>
            @if (personaje.status === 'Alive') {
              <span class="fw-bold fs-5">Status: </span><h6 class="card-text badge bg-success">{{personaje.status}}</h6>
            }
            @if (personaje.status === 'Dead') {
              <span class="fw-bold fs-5">Status: </span><h6 class="card-text badge bg-danger">{{personaje.status}}</h6>
            }
            @if (personaje.status === 'unknown') {
              <span class="fw-bold fs-5">Status: </span><h6 class="card-text badge bg-warning">{{personaje.status}}</h6>
            }
          </div>
        </div>
      </div>
  }
</section>
